* {
  color: black;
  font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li{
  float:left;
}

nav li a {
    display: inline;
    color: white
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*nav li a:hover{
  background-color: cyan;
  color: black;
}

footer ul{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

footer ul li{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}*/

footer ul li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  padding-top: 18px 24px;
}
#salutation {
  text-transform:capitalize;
}
