body {
  background-color: #729f98;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  color: #f0eceb;
  width: 100%;
  position: absolute;
}

.logo{
  float: left;
  font-weight: 700;
  font-size: 2.25em;

}

nav {
  margin: -1em 0em 0em -0.5em;
  padding: 0;
  overflow: hidden;
  background-color: #aa863a;
  text-align: center;
  line-height: 3;
  position: fixed;
  width: 100%;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

nav ul li a {
  text-align: center;
  font-weight: 700;
  padding: 14px 16px;
  background-color: #aa863a;
}

nav ul li a: active {
  background-color: #f0eceb;
}

a{
  text-decoration: none;
  list-style-type: none;
  color: #f0eceb;
}

a:hover{
  background-color: #283018;
  color: #f0eceb;
  opacity: 0.7;
  cursor: pionter;
}

.jumbotron{
  margin-top: 10%;
  float: center;
}

#salutation {
  text-transform: capitalize;
  list-style-type: none;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #f0eceb;
  animation: bounceIn 2s;
}

/*Animation taken from https://robots.thoughtbot.com/css-animation-for-beginners*/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

aside{
  float: left;
	width: 30%;
  margin: 0.5em 2em 13em 0em;
  padding: 0em 2em 15em 0em;
  z-index: 1;
}

.content{
  padding: 0em 2em 0em 0em;
  width: 78%;
  z-index: 0;
}

h3{
  padding-left: 1em;
}

p {
  margin: 0 0 1.5em;
  padding: 0;
	line-height: 1.5;
}

footer{
  background-color: #283018;
  width: 100%;
  margin: -1em 0em 0em -0.5em;
  padding: 160px 0;
}

footer ul{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

footer ul li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  padding-top: 18px 24px;
}
