* {
  color: black;
  font-family: sans-serif;
  text-align: left;
}

a{
  text-decoration: none;
  list-style-type: none;
}

a:hover{
  background-color: black;
  color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li{
  float:left;
}

nav li a {
    display: inline;
    text-align: center;
    padding: 14px 16px;
}

#salutation {
  text-transform:capitalize;
}

footer ul{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

footer ul li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  padding-top: 18px 24px;
}
